= form_for(model) do |f|
  %table
    %tr
      %th Name
      %td
        =f.text_field :name
    %tr
      %th Resource
      %td
        =f.collection_select :resource_id, @resources, :id, :name
    %tr
      %th Resource Settings
      %td
        =f.text_area :resource_settings 
    %tr
      %th Interval
      %td
        =f.text_field :interval
        (seconds)
    %tr
      %th Enabled
      %td
        =f.check_box :enabled
    %tr
      %th Logging
      %td
        =f.check_box :logging
  %p
    =f.submit
    =button_tag "Cancel", :type => "button", :class => "cancelButton"
